body{
font-family: 'ZCOOL QingKe HuangYou', cursive;
font-size:120%;         
width:960px;
margin: 0 auto;
}
	
h1, h2, h3{
color: brown;
}

ul{
list-style-image:url("images/tiny-coffee-cup.gif");
}
	
a:link, a:visited{
text-decoration:none;
color:brown;
font-weight:bold;
}
a:hover{
color:black
}

nav ul {
list-tyle-style:none;
padding:0;
}

nav li {
display:inline;
float:left;
}

nav a:link, nav a:visited {
background-color:brown;
color:white;
display:block;
width:160px;
text-align:center;
padding:10px 0;
}

nav a:hover{
background-color:black;}

aside{
width:240px;
margin-left:20px;
float:right;
background-color:tan;
text-align:center;
font-weight:bold;
padding:10px;
}

.photo-left{
float:left;
margin-right:20px;
}

.photo-right{
float:right;
margin-left:20px;
}

header{
background-image: url("images/coffee-beans.jpg");
height: 80px;
margin-bottom: 70px;
}
	
header h1{
color:rgba(256,256,256, 80%);
margin-left: 30px;
margin-top:30px;
font-size:50px;
}
	
footer{
margin:40px 0;
}

footer nav a:link, footer nav a:visited {
color:grey;
text-decoration:none;
display:block;
width:160px;
text-align:center;
background-color:white;
}

footer nav a:hover {
color:black;
}

td,th{
border:1px solid black;
text-align:center;
padding:5px;
}

table{
border-spacing:0px;
border-collapse:collapse;
}

video{
margin-bottom:20px;
margin-left:160px;
filter: grayscale(100%);
}